{% extends 'todoapp/layout.html' %}


{% block content %}

<div style="margin-top: 50px;" class="ui container">



	<form>
<form  action="{% url 'updateTask' todo_id=8 %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Изменить задачу</label>
            <input type="text" name="title" placeholder="Введите название задачи"><br>
        </div>
        <button  type="submit">Изменить</button>
	</form>
{% for todo in todo_list %}
<div>
    <p> №{{ todo.id }} {{ todo.title }} {{ todo.created}}</p>

    {% if todo.is_complete == False %}
    <span> Не завершено</span>
    <a  href="{% url 'update' todo_id=todo.id %}">Закрыть</a>
    {% else %}
    <span >Завершено</span>
    <a  href="{% url 'update' todo_id=todo.id %}">Открыть</a>
    {% endif %}
    <a  href="{% url 'delete' todo_id=todo.id %}">Удалить</a>

    <a  href="{% url 'updateTask' todo_id=todo.id %}">Изменить</a>

</div>
{% endfor %}
</div>

{% endblock content %}